Feature: Link rel=preload support for H2 push

`Link: <URL>; rel=preload` 

- hints the server to preload the resource into its cache
- optionally the server may initiate server push on behalf of the application
- hints the client to initiate the request early (if not pushed)

Background: https://github.com/h2o/h2o/pull/133#issuecomment-73458389
Spec: http://w3c.github.io/preload/

Does link prefetch and DNS-prefetch work already? I have both spdy and H2 and haven't tested them individually yet (seem to work on spdy of course?)

@tngl I'm not sure what you're asking here.. The bug is to add support for processing of `Link: rel=preload` headers as a mechanism to indicate which resources may be pushed by the server. 

Aha, thanks for you explanation :)

Implemented in Apache trunk.

\o/ .. couple of questions. Do you support multiple declarations per header, or one per header? Also, from  Apache plumbing perspective, how useful would it be to add [as](http://w3c.github.io/preload/#attributes) to indicate type/priority of resource?

Multiple declarations inside a single Link: are supported, as well as multiple Link: headers in one response. 
As to assign priorities to different ```as``` values, do you have some recommendations for that? I hope I can void UA sniffing for this... ;-)

> As to assign priorities to different as values, do you have some recommendations for that? I hope I can void UA sniffing for this...

I think it's a pretty straightforward translation: `Link: <URL>; rel=preload; as=script`, `Link: <URL>; rel=preload; as=style`, ... The current list of [valid "as" values](https://fetch.spec.whatwg.org/#concept-request-type): empty, font, image, script, style, audio, video, track.

/cc @yoavweiss @kazuho

FWIW, in case of H2O, we determine the priority of a push response by looking at the `content-type` header (see https://h2o.examp1e.net/configure/file_directives.html#file.mime.addtypes).

Hmm, I guess that's sensible.. You have to fetch the resource anyhow and once you have the headers the 'as' signal is redundant. Works for me. That said, just two levels? :)

@igrigorik
> That said, just two levels? :)

That's a good question :)

Considering the fact that the default rule per HTTP/2 is to send the pushed stream _after_ the stream that triggered the push and that in case of H2O there is the mode to push a stream _before_ other streams, it might be a good idea to add a mode that prioritizes a pushed stream _on par with_ the stream that triggered the push.

However I cannot imagine of a practical use case.  Do you see any?

Tatsuhiro and me just started a discussion [here](https://github.com/tatsuhiro-t/nghttp2/issues/429#issuecomment-158427811), since currently nghttp2 does not allow to specify a weight for a pushed stream.

Would be interesting to hear what browser builders think about prios on pushes...

> Considering the fact that the default rule per HTTP/2 is to send the pushed stream after the stream that triggered the push and that in case of H2O there is the mode to push a stream before other streams, it might be a good idea to add a mode that prioritizes a pushed stream on par with the stream that triggered the push.

Really, where does the spec cover that? It does recommend that PUSH_PROMISE's are sent prior to any DATA frames of the parent, but I don't see anything about strict ordering of DATA frames with respect to parent vs push.. that would be kinda silly and wasteful.

Practically speaking, it makes perfect sense for the server to interleave data from, say HTML doc and rel=import's or JS/CSS files in the critical path. 



@igrigorik 
> Really, where does the spec cover that?

Quoting from [RFC 7540 Section 5.3.5](http://http2.github.io/http2-spec/index.html#pri-default):
> Pushed streams (Section 8.2) initially depend on their associated stream.

Ahh, I see. Yeah.. about that ;-) 

As I said, that approach can be counter-productive if you're trying to use push to optimize your critical path (instead of inlining CSS/JS). As such, we do want more flexibility on the server to interleave push responses with parent's response.

Yeah :) back to the topic.

Practically speaking, there are roughly three ways to schedule a pushed stream:

1. make the parent stream depend on the pushed stream (what H2O does for CSS, JS)
2. make the pushed stream belong to the same parent as the parent stream
3. make the pushed stream depend on the parent stream (specified byHTTP/2, H2O does for files other than CSS, JS)

(note: IMO for each of them, servers may or may not send a PRIORITY frame, considering the fact that the frame is essentially for _client_ to specify the desirable preference)

What I wonder is if practical use-case exists to add support for 2 as well.  To me, having 1 and 3 seems sufficient.

If we push several resources, and using strategy 1, parent stream depends on one of them.  If the dependee stream is finished, then tree structure is effectively collapsed, and becomes strategy 2.
Of course, you can invent new dependency relationship (multiple parents) for this particular situation.  Or perhaps, chaining all pushed streams in one dependency links, and then make parent stream depend on it?

> you can invent new dependency relationship (multiple parents) for this particular situation.

This is what we do in H2O essentially.

> Or perhaps, chaining all pushed streams in one dependency links, and then make parent stream depend on it?

You can do that, but it might become harder to handle PRIORITY frames sent for pushed streams (under the premise that you want to respect client-specified priorities (if specified) for pushed streams).

One thing to consider is that once support hits browsers (hopefully soonish :D), these headers will trigger requests on their own, resulting in possible race conditions. So, you probably want to remove the `<link rel=preload>` headers in cases where you are pushing the response.

>>    you can invent new dependency relationship (multiple parents) for this particular situation.

> This is what we do in H2O essentially.

I think we can simulate this with single parent scheme, using larger weight value.
Now we are doing this inside server, we can use whatever weight value which is larger than 256.
When we use strategy 2, we can set large weight, say, 10000, to critical resource.  This effectively has the similar effect of multiple parents.

> So, you probably want to remove the <link rel=preload> headers in cases where you are pushing the response.


Typically, we send PUSH_PROMISE before response HEADERS (this includes link header fields), so client can understand PUSH_PROMISE is related to link header field, and stop sending its own duplicate request.

This kind of race condition already exists, because client can find links to pushed resources inside HTML.
Now we are doing the same but in HEADERS.

mod_http2 will not generate PUSH promises for responses that are PUSHed (no recursion), but send the link headers unchanged. 

> Am 21.11.2015 um 08:17 schrieb Tatsuhiro Tsujikawa <notifications@github.com>:
> 
> So, you probably want to remove the headers in cases where you are pushing the response.
> 
> Typically, we send PUSH_PROMISE before response HEADERS (this includes link header fields), so client can understand PUSH_PROMISE is related to link header field, and stop sending its own duplicate request.
> 
> This kind of race condition already exists, because client can find links to pushed resources inside HTML.
> Now we are doing the same but in HEADERS.
> 
> —
> Reply to this email directly or view it on GitHub.
> 


@icing not sure I follow.. Are you describing [h2 push -> apache proxy -> client] scenario? As in, if the origin is talking h2 to the proxy and initiates push then you'll drop the PUSH_PROMISE?

> As to assign priorities to different as values, do you have some recommendations for that? I hope I can void UA sniffing for this... ;-)

- Process Link: rel=preload and emit PUSH_PROMISE
- Fetch resource from cache/origin and inspect content-type to determine priority
 - use internal API (https://github.com/tatsuhiro-t/nghttp2/issues/429) to prioritize pushed resources wrt to the parent. 

Seems sufficient and matches h2o behavior?


What I meant is: if a PUSHed resource has "Link: ...;rel=preload" headers, mod_http2 will not use those to PUSH even further. mod_http2 will also not PUSH, when the response status is outside the 200 range. 

I am also thinking about maintaining some link hash values in the http/2 session, so that resources already pushed are not pushed again, e.g. navigating back to a page. But that is something for the future...

As to the content-type: I am in the same situation as h2o and will not see the content-type before PUSH in a variety of setups. So, I will inspect the ```as``` param and influence prio with the new API, if it is there. Something for the release after the next...

> As to the content-type: I am in the same situation as h2o and will not see the content-type before PUSH in a variety of setups. So, I will inspect the as param and influence prio with the new API, if it is there. Something for the release after the next...

But that shouldn't matter, right? You can emit the PUSH_PROMISE immediately and start fetching the actual resource from origin/cache. Then, once you have the headers for the promised resource, you can inspect the content-type and use the internal API to prioritize accordingly?

Yes, that is correct. I realized in the meantime that adjusting the priority before the first HEADERS are sent out has no effect anyway, when I did my tests here.

The basic mechanism is now in Apache trunk, the configuration of content-types + prio is missing.

So, sounds like the plan is to not use `as`, correct? You'll look at Content-Type, like h2o? Current implementation sets the resource as dependent on the parent + all push streams have same weight?


(reading the text carefully....^^) yes and yes.

Sounds great. Thanks for the patience :-)

Implemented and backported for 2.4.18 release. New directives:
```
H2Push on|off
```
to en-/disable completely, and
```
H2PushPriority content-type after|before|interleaved [weight]
```
in order to set the priority of pushed streams based on their content type. Detailed explanation once mod_http2 manual at apache is updated.


Interested in how the actual weight of the pushed stream calculated for different modes (i.e. `after`,`before`,`push`), I looked at the code and found that:
* for `after`, the configured `weight` is used
* for `before`, the configuration value is ignored
* for `interleaved`, the configuration value is multiplied by the weight of the initiating stream

Looks like an elegant design!

Thank you!

For ```before```I now also calculate the weight as for the ```interleaved``` case. So, one could boost the priority for such a stream. Might be useful for someone...

What I am not so sure about is that several ```before``` pushes currently will get daisy chained. To treat them equally, one would have to create a temporary parent stream for them all. Which seemed like a lot of hassle.

> For beforeI now also calculate the weight as for the interleaved case.

I am not sure if that is the right thing to do.

When the pushed stream (that become the parent of the stream that initiated the push) gets closed, the initiated stream will inherit the weight of the pushed stream (see RFC 7540 section 5.3.4).  So if the priority of the pushed stream in _before_ mode is not set equal to the initiating stream, you will end up in a different prioritization tree once the push completes.

I do not think such behavior is desirable.  Or do you do special recalculations to avoid the issue?

> What I am not so sure about is that several before pushes currently will get daisy chained. To treat them equally, one would have to create a temporary parent stream for them all. Which seemed like a lot of hassle.

IMO daisy-chaining _might_ provide better user-experience than trying to treat them equally considering the fact that many web browsers (if not all) are not capable of executing CSS/JS progressively; daisy-chaining the files will help the browsers process _some_ of the files earlier than equally dividing the bandwidth.

I think you are correct on the ```before``` push. It should simply get the weight of the initiating stream.

Thinking about daisy chain, Firefox sometimes sends PRIORITY frame to pushed stream to change its priority.  nghttp2 handles this, and changes pushed stream's priority... but this is sub tree manipulation.  If parent stream depends on pushed stream, it is also moved along with it, and it could be unexpected situation.  Probably, if interleave is safer approach.

Good point. It is unclear to me at the moment, who should manipulate the priorities of pushed streams, client or server. And if it is the server, how can the client learn what it is. It seems some kind of prio synch frame could fix this.

On the same topic is the problem of keeping closed streams around so that PRIO frames in transit still work. A server clearly would like to get rid of these asap. With requests/second being in the 5-6 digit ranges, it seems unreasonable to keep this info for, let's say, 2 RTTs.

The default in mod_http2 will remain at ```after 16```. If people want to experiment with ```before``` they should be free to do so. Maybe someone comes with an application besides browsers where this is helpful...

About closed streams, nghttp2 retains closed client-initiated streams as long as the number of them + the number of opened client-initiated stream <= max concurrent streams (declared by server in SETTINGS).  If we exceed this limit, oldest closed stream is deleted from memory..

And yes, if we abandoned this mechanism, we can save some memory when server gets idle.

How much memory are we talking about per closed stream?

230 bytes per stream at least.  So if we have 100 closed streams, it could be 22KiB.

Then, from my side, we do not need to change anything now. Let's get some experience and feedback from people using it and then see what needs to be changed.

If people would like to run really fat pipes in data centers with many more streams...or if priority dependency needs to work reliable even when max streams are used (or max is configured small)...then I'd like to revisit this.

OK, let's wait and see.

Let's wait and code other interesting things... ;-)

In the meantime: I did not see anything in rfc 7540 that would forbid the server to send PRIORITY for a pushed stream to the client. Do you?

5.1: ```Note that PRIORITY can be sent and received in any stream state.```

> I did not see anything in rfc 7540 that would forbid the server to send PRIORITY for a pushed stream to the client. Do you?

In section 5.1, you would fine statements that explicitly allow a server to send PRIORITY frames, e.g.

> reserved (local):
> (snip)
>    An endpoint MUST NOT send any type of frame other than HEADERS, RST_STREAM, or PRIORITY in this state.

which means that PRIORITY frames are not forbidden to be sent after a PUSH_PROMISE, or

> half-closed (local):
> (snip)
> PRIORITY frames received in this state are used to reprioritize streams that depend on the identified stream.

which means that clients must expect receiving PRIORITY frames while receiving an HTTP response.

However in practice, due to race condition, it might be difficult for the client to use the priority information it receives, considering the fact that it might have sent a PRIORITY frame to the server, and that there is no way for a client to tell whether the sent information has been applied at the server-side before or after the server sent the PRIORITY frame.

What @kazuho said.  FYI, Firefox ignores PRIORITY from servers at the moment.

Maybe we should talk to Patrick about this?

Patrick probably has something to say about it (rationale why firefox does that).  I think most of the client implementation might not maintain priority dependency tree.  It just sends the priority information  to server.  In that case, client has no way but to ignore PRIORITY from server since it has no mechanism to adjust according to it.

But what exactly does a PRIORITY from the server mean? My view on PRIORITY is that it tells _the sever_ how it should prioritize which resources to send to the client when there's a situation where it can choose. Is this mostly to inform the client that this is the priority the server considers this stream to have?

That would be the idea. Don't know if it is interesting for FF. 

> Am 08.12.2015 um 19:00 schrieb Daniel Stenberg <notifications@github.com>:
> 
> But what exactly does a PRIORITY from the server mean? My view on PRIORITY is that it tells the sever how it should prioritize which resources to send to the client when there's a situation where it can choose. Is this mostly to inform the client that this is the priority the server considers this stream to have?
> 
> —
> Reply to this email directly or view it on GitHub.
> 


I guess it can be useful at least for the situations when that prio doesn't match the prio the browser itself thinks that stream should have.

cc @mcmanus

hey y'all - yeah, firefox doesn't do anything with recvd priority simply because it isn't the sender most of the time.. I'm open to ideas tho :)

Good! :)

Let's put it this way: Firefox know very well in which order it wants to receive certain content and makes the default prio policies that match it. But maybe, for a particular site, the site developer has an even better understanding.

If a web site performance tuner like Ilya wants to shape off some milli seconds off by giving a resource a different prio, it would be nice if the client let's him do this. Seeing a PRIORITY from a server on a PUSH_PROMISED stream *could* be interpreted as: don't enforce your own.

It's just an idea, maybe not even a good one. Maybe performance optimizer will want to start user agent sniffing soon. Maybe server push priorities are just something for clients that do not know better or just dont care...

> Seeing a PRIORITY from a server on a PUSH_PROMISED stream could be interpreted as: don't enforce your own.

What exactly do you mean by this? All priorities are advisory anyway, so the server can deliver the frames in any order it likes. On the client, we don't hold back processing based on advertised transport priorities.

Do you mean the server should ignore PRIORITY from clients on pushed stream where it is configured to have its own idea about it? Hmm.

My approach would inform the client about the server priorities and leaving the choice of either accepting them or changing them according to its needs.

Maybe I am overthinking it...

I didn't mean to imply that it "should".. But that priorities are advisory only -- e.g. you A is high priority but taking a long time to generate, while B (low priority) is already available; B shouldn't block on A. In that light, server reordering priorities based on heuristics is indistinguishable from the case you're describing.

Perhaps a separate question here is whether the UA *could* use a signal that the server is intentionally overriding client's priorities.. But it's not clear to me what we'd do with it.

Released.